@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body{
    width:100%;
    height:100vh;
    display:flex;
    justify-content: flex-start;
}
h3{
  font-weight: 600;
  color:rgb(17, 17, 16);
  font-family: 'Roboto Slab', serif;
  letter-spacing: .5px;

}
img{
    position:absolute;
    width:50px;
    transition: all 7s ease;
    /* bottom:-50px; */
    

}
.fly{
    z-index:9;
   margin-bottom: 1000px;
}
.letter{
   
    background:rgb(25, 161, 36);
    color:white;
}
.main{
    /* padding:50px; */
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    /* margin:50px; */
    width:100%;
    height:100vh;
    /* background:#e0a3a3; */
}
.main .time{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 20px;
  margin-top:50px;
}
.letterR{
   /* background:transparent rgb(229, 153, 153); */
    border-left:5px solid rgb(34, 168, 68);
    border-radius: 30px;
    margin:10px;
    padding:10px;
    background-color: rgba(255, 255, 255,.5)
    
}
svg{
    position:relative;
    width:250px;
    height:150px;
  
    
    /* background:red; */
}
svg path#ballon{
    transform:translateX(-1000px)
}
.image{
    position:relative;
    width:100%;
    margin:20px 0;
    /* margin-right: 10px; */

}
#book{
    position:relative;
    width:100%;
    margin:20px 0;
}
#note{
    color:red;
    padding:5px 0 0 20px;
    border-left: 4px solid red;
    border-radius:30px;
    background:white;
    margin:10px;
  

}
.signature{
    display: flex;
    
    justify-content: space-around;
    align-items: center;
    height:100px;
    width:100%;
    

}
.signature h2{
    font-family: 'Lobster', cursive;
}
